<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create folder</title>
</head>
<body>
    <h1>Create Folder</h1>

    <form action="/folders/create" method="post">
        <label for="name">Nama Folder:</label>
        <input type="text" name="name" id="name">
        <button type="submit">Buat Folder</button>
    </form>
    
</body>
</html>