<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
  <h1>Masukkan akun anda</h1>
  <% if (error) { %>
  <p style="color: red;"><%= error %></p>
  <% } %>
  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Masuk</button>
  </form>
  <a href="/register">Tidak punya akun? Buat</a>
</body>
</html>